<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header mb-2 divisor">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark"><b>PORTAFOLIO</b></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
          <div class="card-deck mt-5 mb-5">
              <div class="card">
               <a (click)="encuestaCovid()" style="cursor: pointer;">
                  <img class="card-img-top" src="assets/img/encuesta-covid.png" alt="Card image cap">
                  <div class="card-body">
                      <h5 align=center class="card-text">RETORNO SEGURO</h5>
                  </div>
                  </a>
              </div>
              <div class="card">
                  <a href="#">
                  <img class="card-img-top" src="assets/img/correspondencia_utvt.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 align=center class="card-text">CORRESPONDENCIA UTVT</h5>
                      </div>
                      </a>
                  </div>
              <div class="card">
                  <a href="#">
                  <img class="card-img-top" src="assets/img/turismo_lerma.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 align=center class="card-text">TURISMO LERMA</h5>
                      </div>
                  </a>
              </div>
          </div>
      </div>
    </div>
    <div class="content-header mb-2 divisor" style=" border-top-style: solid;">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark"><b>HABILIDADES</b></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <!-- /.content -->
  </div>