<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header mb-2 divisor">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark" id="portafolio"><b>PORTAFOLIO</b></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
            <div class="card">
              <div class="card-body">
                <div class="card-deck mt-5 mb-5">
                  <div class="card">
                  <a (click)="encuestaCovid()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/encuesta-covid.png" alt="Card image cap">
                      <div class="card-body">
                          <h5 align=center class="card-text">RETORNO SEGURO</h5>
                      </div>
                      </a>
                  </div>
                  <div class="card">
                      <a (click)="correspondencia()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/correspondencia_utvt.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 align=center class="card-text">CORRESPONDENCIA UTVT</h5>
                          </div>
                          </a>
                      </div>
                  <div class="card">
                      <a (click)="tusismo()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/turismo_lerma.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 align=center class="card-text">TURISMO LERMA</h5>
                          </div>
                      </a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="content-header mb-2 divisor" style=" border-top-style: solid;">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark" id="habilidades"><b>HABILIDADES</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div align=center class="row mb-5">
              <div class="col mb-5">
                <app-grafica-html></app-grafica-html>
              </div>
              <div class="col mb-5">
                <app-grafica-javascript></app-grafica-javascript>
              </div>
              <div class="col mb-5">
                <app-grafica-css></app-grafica-css>
              </div>
            </div>
            <div align=center class="row mb-5">
              <div class="col mb-5">
                <app-grafica-laravel></app-grafica-laravel>
              </div>
              <div class="col mb-5">
                <app-grafica-jquery></app-grafica-jquery>
              </div>
              <div class="col mb-5">
                <app-grafica-bootstrap></app-grafica-bootstrap>
              </div>
            </div>
            <div align=center class="row">
              <div class="col mb-5">
                <app-grafica-php></app-grafica-php>
              </div>
              <div class="col mb-5">
                <app-grafica-mysql></app-grafica-mysql>
              </div>
              <div class="col mb-5">
                <app-grafica-git></app-grafica-git>
              </div>
              <div align=center class="row mt-2">
                <div class="col"></div>
                <div class="col">
                  <app-grafica-pwa></app-grafica-pwa>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-header mb-2 divisor" style=" border-top-style: solid;" id="sobre">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark"><b>Sobre mí</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div align=center class="col mt-xl-2 mt-sm-5">
                <img src="assets/img/foto2.jpg" width="250px" height="auto">
              </div>
              <div align=left class="col mt-md-5 mt-2">
                <p>
                  Me llamo Sebastián Emmanuel Aguilar De La Cruz, y soy pasante de una ingenieria
                  en "Desarrollo y Gestión de Software" pero me he dedicado en el desarrollo Web Backend
                  con los lenguajes de programación PHP y JavaScript, junto con el lenguaje de etiquetas HTML 5.
                </p>
                <p>
                  En mi tiempo como estudiante, dentro de la "Universidad Tecnologíca del Valle de Toluca", 
                  se implemento una modalidad llamada "<b>Dual</b>", que consiste en desempeñar actividades
                  dentro de una unidad económica junto con un asesor empresarial.
                </p>
              </div>
              <div class="row ">
                <div class="col order-12 order-sm-12 order-md-1 ml-1 mt-md-2">
                  <p>
                    Cómo pasante que ingresó a la modalidad "<b>Dual</b>", estuve 2 años desempeñando un papel de desarrollador Web
                    dentro de una consultoria con más de 10 años en el mercado de TI.
                </p>
                <p>
                    Trabaje colaborativamente con 10 personas de mi misma carrera durante todo el tiempo en mi instancia dentro
                    de la empresa, que junto con ellos, desarrollamos proyectos para distintos
                    sectores estatales, municipales y gobernamentales.
                </p>
                </div>
                <div align=center class="col order-1 order-sm-1 order-md-12 mb-3">
                  <img src="assets/img/foto3.jpg" width="300px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>