<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <div class="row mt-1">
      <div class="col ml-md-5">
        <b><i class="fa-solid fa-at"></i>Datos de contacto:</b>
        <br>
        <b><i class="fa-solid fa-envelope mr-1"></i>Correo:</b>
          <p>al221810693@gmail.com</p>
          <div class="w-100"></div>
          <b><i class="fa-solid fa-phone mr-1"></i>Numero(s)</b>    
          <p>55 67739793 / 719 6881248</p>
        </div>
        <div class="col mr-sm-5 mt-md-5">
          <div class="row">
            <div class="col">
              <a class="github"href="https://github.com/sebastian-99"  target="_blank">
                <i class="fa-brands fa-github fa-4x"></i>
              </a>
            </div>
            <div class="col">
              <a class="linked" href="#">
                <i class="fa-brands fa-linkedin fa-4x"></i>
              </a>
            </div>
            <div align=center class="col mt-5 mt-md-4">
              <a href="#">
                <p>Sobre la página</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    
  </footer>
<!-- ./wrapper -->
