<div class="content-wrapper">
    <div class="content">
        <div class="contaniner">
            <div align=center>
                <img class="img-fluid" src="https://c.tenor.com/r2DGstl2IWEAAAAC/raiden-shogun-ei.gif" alt="">
                <h2 class="serigrafia">¿Te has perdido?</h2>
                <h3 class="serigrafia">Regresa a la principal aqui</h3>
                <a class="serigrafia" routerLink="">Portafolio</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
