<!-- Banner -->
<div>   
    <div class="d-flex flex-column" >
        <img src="assets/img/coding.gif" alt="" height="300px" width="100%">
        <div class="letrasNombre">
           <h2 class="letras" align=center>Sebastián Emmanuel Aguilar De La Cruz</h2>
        </div>
        <div align=center class="letrasNombreProfesion">
           <h2 class="letras">Backend Web Developer</h2>       
           <i class="fa-solid fa-location-dot fa-2x" style="color: red;"></i>
           <p class="serigrafia" style="font-size: 25px;">
               Temoaya, Estado de México
           </p>
           <p class="serigrafia" style="font-size: 25px;">
               Ciudad de México, Venustiano Carranza
           </p>
        </div>      
           
        </div>
    </div>
<!-- Banner -->