<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white sticky-top" style="background-color: cadetblue;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="navbar-nav ml-auto">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>Languages</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink=""><b>Español</b></a>
              <a class="dropdown-item" routerLink="../en/portfolio"><b>English</b></a>
            </div>
          </li>
          <li class="nav-item">
            <a href="en/portfolio#portafolio" class="nav-link text-dark"><b>Portfolio</b></a>
          </li>
          <li class="nav-item">
            <a href="en/portfolio#habilidades" class="nav-link text-dark"><b>Skills</b></a>
          </li>
          <li class="nav-item">
            <a href="en/portfolio#sobre" class="nav-link text-dark"><b>About Me</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.navbar -->
  <!-- Banner -->
  <app-banner-en></app-banner-en>
  <!-- /Banner -->
