<!-- Banner -->
<div class="pt-5">   
    <div class="d-flex flex-column" >
        <img src="/assets/img/coding.gif" alt="" height="300px" width="100%">
        <div style="background-color: pink;  border-top-style: solid; border-left-style: solid; border-right-style: solid;" >
           <h2 class="letras" align=center>Sebastián Emmanuel Aguilar de la Cruz</h2>
        </div>
        <div style="background-color: pink;  border-bottom-style: solid; border-left-style: solid; border-right-style: solid;">
           <h2 class="letras" align=center >Desarrollador Web Backend</h2>
        </div>
    </div>
</div>
<!-- Banner -->
