<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header mb-2 divisor">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark"><b class="serigrafia">PORTAFOLIO</b></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
              <li class="breadcrumb-item"><b class="serigrafia"><a [routerLink]="['']">Portafolio</a></b></li>
              <li class="breadcrumb-item active" aria-current="page"><b class="serigrafia">Turismo Lerma</b></li>
            </ol>
          </nav>
        <div class="card" style="background-color: antiquewhite;">
            <div class="card-header" style="background-color: rgb(241, 241, 243);">
                <div align=center class="row">
                  <div class="col">
                    <a [routerLink]= "['../correspondencia-utvt']">
                      <i class="fa-solid fa-arrow-left fa-3x"></i>
                    </a>
                  </div>
                  <div class="col">
                    <h3 class="serigrafia">Turismo Lerma</h3>
                  </div>
                  <div class="col">

                  </div>
                </div>
            </div>
            <div class="card-body">
                <div align=center id="carouselExampleIndicators" class="carousel slide mt-5 mb-2" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/img/turismo_lerma.png" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/turismo_lerma2.png" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/turismo_lerma3.png" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <b>Descripción del proyecto</b>
                    <div class="mt-3" style=" border-left: solid red 6px;">
                        <p class="mt-1 ml-1 serigrafia">
                            El turismo es importante para los ingresos dentro de toda área municipal, y 
                            el municipio de Lerma, Estado de México, no quería quedarse atras. Una página Web donde se muestran
                            las atracciones y localizaciones de interés, para dar a conocer qué se puede hacer, qué se puede conocer
                            e inclusive aprender un poco de la historia de este bello município.
                        </p>
                    </div>
                <b>Tecnologías utilizadas</b>
                <div class="card">
                    <div class="card-body">
                      <div align=center class="row mt-5">
                        <div class="col">
                            <img src="assets/img/html_logo.png" width="100px" height="100px">
                        </div>
                        <div class="col">
                            <img src="assets/img/javascript_logo.png" width="100px" height="100px">
                        </div>
                        <div class="col">
                            <img src="assets/img/css_logo.png" width="210px" height="100px">
                        </div>
                      </div>
                    <div align=center class="row mt-5">
                        <div class="col">
                            <img src="assets/img/laravel_logo.png" width="100px" height="100px">
                        </div>
                        <div class="col">
                            <img src="assets/img/jquery_logo.png" width="210px" height="100px">
                        </div>
                        <div class="col">
                            <img src="assets/img/bootstrap_logo.png" width="100px" height="100px">
                        </div>
                    </div>
                    <div align=center class="row mt-5">
                        <div class="col">
                            <img src="assets/img/php_logo.png" width="100px" height="100px">
                        </div>
                        <div class="col">
                            <img src="assets/img/mysql_logo.png" width="210px" height="100px">
                        </div>
                    </div>
                  </div>
                </div>
                <b>Página Web</b>
                <div class="paginaLink mt-1">
                  <a class="ml-1" target="_blank" href="https://visita.lerma.gob.mx/">
                    https://visita.lerma.gob.mx/
                  </a>
                </div>
              </div>
            </div>
        </div>
        
    </div>
  </div>
