<div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
      <div class="container">
          <br>
          <nav aria-label="breadcrumb" id="sobre">
            <ol class="breadcrumb bg-transparent">
              <li class="breadcrumb-item"><b><a [routerLink]="['']">Portafolio</a></b></li>
              <li class="breadcrumb-item active" aria-current="page"><b>Acerca de la página</b></li>
            </ol>
          </nav>
            <div class="card">
                <div align=center class="card-header" style="background-color: rgb(188, 204, 172);">
                    <h1>Acerca de la página</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div align=center class="col">
                            <img class="img-fluid" src="assets/img/klee.png" width="500px" height="500px">
                        </div>
                        <div class="w-100"></div>
                        <div align=center  class="col">
                            <p>Muchas gracias por ver mi portafolio Web!!!</p>
                            <p>
                                Está página fue desarrollado con el Framework de JavaScript "Angular"
                                ya que actualmente estoy estudiando esta herramienta para Frontend.
                                
                            </p>
                            <p>
                                Personalmente en el desarrollo de esta página, aprendí nuevas 
                                cosas ya que anteriormente dicho, esta desarrollado completamente con Angular, y se utilizó
                                la libreria Bootstrap para el diseño. yo al ser programador Backend, no estoy familiarizado
                                totalmente con esta herramienta, por lo cuál, en el transcurso del desarrollo, aprendí a utilizar
                                los espaciados "Responsive", por lo tanto, esta página es totalmente funcional en computadoras,
                                dispositivos móviles y tabletas.

                            </p>
                        
                        </div>
                    </div>
                    <div align=center class="row">
                        <div class="col-6">
                            <img class="img-fluid" src="assets/img/angular_logo.png" width="130px" height="130px">
                        </div>
                        <div class="col-6 mt-2 mt-md-2 mt-sm-0 mt-lg-0">
                            <img class="img-fluid" src="assets/img/github_pages_logo.png" width="200px" height="200px">
                        </div>
                    </div>
                    <div align=center class="row mt-2">
                        <p>Está página fue hecha con Angular y alojada en Github Pages</p>
                    </div>
                </div>
            </div>   
      </div>
    </div>
</div>