.fondo{
    /* background-image: url('https://c.tenor.com/GfSX-u7VGM4AAAAC/coding.gif');  */
    background-image: url('/assets/img/coding.gif');
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: 100% 59%;
    
    
}

.letras{
    color: black; 
    font-weight: bold;
}

.letrasNombre{
    background-color: pink;  
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}
.letrasNombreProfesion{
    background-color: pink;  
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}
.divisor{
    background-color: rgb(27, 111, 207);  
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    
}