.fondo{
    /* background-image: url('https://c.tenor.com/GfSX-u7VGM4AAAAC/coding.gif');  */
    background-image: url('/assets/img/coding.gif');
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: 100% 59%;
    
    
}

.letras{
    color: black; 
    font-weight: bold;
}