<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header mb-2 divisor">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark" id="portafolio"><b class="serigrafia">PORTFOLIO</b></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
            <div class="card">
              <div class="card-body" style="background-color: antiquewhite;">
                <div class="card-deck mt-5 mb-5">
                  <div class="card">
                  <a (click)="encuestaCovid()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/encuesta-covid.png" alt="Card image cap">
                      <div class="card-body">
                          <h5 align=center class="card-text">RETORNO SEGURO</h5>
                      </div>
                      </a>
                  </div>
                  <div class="card">
                      <a (click)="correspondencia()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/correspondencia_utvt.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 align=center class="card-text">CORRESPONDENCIA UTVT</h5>
                          </div>
                          </a>
                      </div>
                  <div class="card">
                      <a (click)="tusismo()" style="cursor: pointer;">
                      <img class="card-img-top" src="assets/img/turismo_lerma.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 align=center class="card-text">TURISMO LERMA</h5>
                          </div>
                      </a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="content-header mb-2 divisor" style=" border-top-style: solid;">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark" id="habilidades"><b class="serigrafia">SKILLS</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="card"  style="background-color: antiquewhite;">
          <div class="card-body">
            <div align=center class="row mb-5">
              <div class="col mb-5">
                <app-grafica-html></app-grafica-html>
              </div>
              <div class="col mb-5">
                <app-grafica-javascript></app-grafica-javascript>
              </div>
              <div class="col mb-5">
                <app-grafica-css></app-grafica-css>
              </div>
            </div>
            <div align=center class="row mb-5">
              <div class="col mb-5">
                <app-grafica-laravel></app-grafica-laravel>
              </div>
              <div class="col mb-5">
                <app-grafica-jquery></app-grafica-jquery>
              </div>
              <div class="col mb-5">
                <app-grafica-bootstrap></app-grafica-bootstrap>
              </div>
            </div>
            <div align=center class="row">
              <div class="col mb-5">
                <app-grafica-php></app-grafica-php>
              </div>
              <div class="col mb-5">
                <app-grafica-mysql></app-grafica-mysql>
              </div>
              <div class="col mb-5">
                <app-grafica-git></app-grafica-git>
              </div>
              <div align=center class="row mt-2">
                <div class="col"></div>
                <div class="col">
                  <app-grafica-pwa></app-grafica-pwa>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-header mb-2 divisor" style=" border-top-style: solid;" id="sobre">
      <div class="container">
        <div>
          <div>
            <h1 align=center class="m-0 text-dark"><b class="serigrafia">ABOUT ME</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="card">
          <div class="card-body" style="background-color: antiquewhite;">
            <div class="row">
              <div align=center class="col mt-md-2 mt-sm-5 mt-md-4 mt-lg-0">
                <img class="fotos" src="assets/img/foto2.jpg" width="250px" height="auto">
              </div>
              <div align=left class="col mt-2 mt-md-2 mt-lg-5" style="border: 2px solid red; border-radius: 12px; background-color: rgb(208, 238, 173);" >
                <br>
                <p class="serigrafia">
                  My name is Sebastián Emmanuel Aguilar De La Cruz, I'm a "Software Developer enginner intern",
                  but all my time as a student I have worked with Backend Web Developer with the programming lenguages JavaScript,
                  PHP, with markup language HTML 5 and with the framework Laravel.  
                </p>
                <p class="serigrafia">
                  When I was a student, in the college "Universidad Tecnologíca Del Valle de Toluca" they implement a modality
                  named <b>"Dual"</b>, this consist in do activities inside of a econiomic institution with a empresarial tutor as a guide.
                </p>
              </div>
              <div class="row mt-md-1 mt-3">
                <div class="col order-12 order-sm-12 order-md-1 ml-3 ml-md-1 mt-md-2" style="border: 2px solid red; border-radius: 12px; background-color: rgb(208, 238, 173);">
                  <p class="serigrafia">
                    As a <b>"Dual"</b> student but now as a intern, I was worked inside of a economic institution for 2 years ago as 
                    a Backend Web developer. This institution have more of 10 years of experience in the IT market.
                </p> 
                <p class="serigrafia">
                    I collaborative work with 10 persons, which they were in the same degree as I was. For all the time I was in <b>"Dual"</b>
                    I worked with this companions and together we develop many projects for the use in differents sectors like state, municipal and governmentals areas.
                </p>
                </div>
                <div align=center class="col order-1 order-sm-1 order-md-12 mt-2 mt-md-5 mt-lg-3 ml-0 mb-2 ">
                  <img class="fotos" src="assets/img/foto3.jpg" width="300px">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" style="background-color: rgb(119, 158, 243);">
            <h1 class="serigrafia"align=center>Another Data</h1>
          </div>
          <div class="card-body" style="background-color: antiquewhite;">
            <nav>
              <div class="nav nav-pills mb-3" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-estudios" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                <i class="fa-solid fa-graduation-cap"></i>
                Studies
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-certificado" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                  <i class="fa-solid fa-scroll"></i>
                  Certificates
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-empresa" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                  <i class="fa-solid fa-building"></i>
                  Dual institution
                </button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-estudios" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card">
                  <div class="card-body">
                    <p class="serigrafia">Técnico en Informática (2014-2017)</p>
                    <p class="serigrafia">Bachillerato Tecnologíco CBT No.4 Toluca</p>
                    <hr>
                    <p class="serigrafia">TSU en Desarrollo de Software Multiplataforma (2019-2020)</p>
                    <p class="serigrafia">Universidad Tecnologíca Del Valle de Toluca</p>
                    <hr>
                    <p class="serigrafia">Ingeniería en Desarrollo y Gestión de Software (2020-2022)</p>
                    <p class="serigrafia">Universidad Tecnologíca Del Valle de Toluca</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-certificado" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                  <div class="card-body">
                    <p class="serigrafia">CCNA Routing and Switching: Principios básicos de routing y switching</p>
                    <p class="serigrafia">"Principios sobre la configuración de puertos de swiches, routers y administración de redes"</p>
                    <hr>
                    <p class="serigrafia">CCNA routing and Switching: Introducción a las redes</p>
                    <p class="serigrafia">"Introducción y conceptos básicos sobre las redes y Hardware utilizados"</p>
                    <hr>
                    <p class="serigrafia">TOEFL ITP</p>
                    <p class="serigrafia">Total Score: 447 / A2</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-empresa" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <p class="serigrafia">Institution name</p>
                      </div>
                      <div class="col-8">
                        <p class="serigrafia">Diseño en Sistemas de Gestión y Software S.C</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 mt-5 mt-md-2">
                        <p class="serigrafia">Direction</p>
                      </div>
                      <div class="col-8">
                        <p class="serigrafia">Hermenegildo Galeana #24 Col. Pilares Metepec, Estado de México, CP 52175 </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <p class="serigrafia">Web page</p>
                      </div>
                      <div class="col-8 mt-2 mt-md-0">
                        <a class="serigrafia" target="blank" href="https://www.dsgys.com/index.html">www.dsgys.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
